@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

$mobile: 840px;

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;

}

.btn {
    border-radius: 20px;
    padding: .3rem 1.6rem;
}

nav {
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
}

#home-section {
    padding-top: 6rem;
    background: url(../img/front.jpg) no-repeat center/cover;
    height: 695px;
    background-color: rgb(253, 253, 253);

    img {
        max-height: 450px;
        
    }

    @include mobile {
        h2 {
            font-size: 1.5rem;
            position: relative;
            bottom: -190px;
        }

        p {
            position: relative;
            bottom: -195px;
        }

        button {
            position: relative;
            bottom: -195px;
        }
        
        background: url(../img/front.jpg) no-repeat center/contain;
        height: 400px;

        
    }
}


#about-section {
    padding-top: 4rem;

    img {
        max-height: 600px;
    }

    @include mobile {
        h2 {
            font-size: 1.5rem;
        }
    }
}

#product-section{
    display: flex;
    justify-content: center;
    align-items: center;
.slideshow-container {  
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    .mySlides1{
      img{
      margin:0;
      height: 300px;
      background-size: cover;
      padding: 5px;
      }
    }

    @include mobile {
        flex-wrap: wrap;
        width: 100%;
        }
      
  }
}
 

#feature-section {
    padding: 6rem 0 4rem 0;

   .container .overlay{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.7);
    }

    @include mobile {
        h2 {
            font-size: 1.5rem;
        }
    }

    .feature-section-title {
        // padding-bottom: 3rem;
    }

    .col-md-4 {
        margin-top: 2rem;

        .box {
            background: #fff;
            margin: 2px;
            padding: 2rem;
            border: 1px solid rgba(0,0,0,.1);
            display: flex;
            flex-direction: column;
            align-items: center;

            i {
                margin-bottom: 1.4rem;
                height: 50px;
                width: 50px;
                padding: 2.4rem;
                border-radius: 50%;
                border: 1px solid rgba(0,0,0,.1);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}



#core-section {
    padding: 4rem 0;

    .core-section-title {
        padding-bottom: 5rem;
    }

    img {
        max-height: 300px;
    }

    .box {
        margin: 3rem;
        padding: 3rem;
        box-shadow: 0 0 3px rgba(63, 129, 204, 0.3);
        
        h5 {
            font-size: 1.4rem;
        }
    }

    @include mobile {
        .box {
            margin: 0 0 3rem 0;
        }
    }
}

#why-section {
    img {
        max-height: 350px;
    }
}


#product-section {
    padding: 3rem 0 2rem 0;

    @include mobile {
        h2 {
            font-size: 1.5rem;
        }
    }

    .product-section-title {
        padding-bottom: 3rem;
    }

    .box {
        margin: 1rem;
        box-shadow: 0 2px 6px rgba(63, 129, 204, 0.3);
        
        h5 {
            font-size: 1.4rem;
        }
    }
}


#newsletter-section1 {
    .newsletter-bg {
        padding: 5rem 0;
        background: url('../img/leaves.jpg');
        height: 420px;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        max-width: 100%;
        background-position: center;

        h3 {
            font-size: 2rem;
            text-align: center;
        }

        input {
            margin-bottom: 1rem;
            border-radius: 10rem;
            height: 3rem;

            &[type="email"] {
                text-indent: 1rem;
            }
        }
    }
    @media (max-width: 640px) {
        .newsletter-bg {
            background: url('../img/leaves1.jpg');
            background-size: contain;
            width: 100%;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: center;
            overflow: hidden;
        }
    }
}

#product-section1 {
    padding: 6rem 0 4rem 0;

    @include mobile {
        h2 {
            font-size: 1.5rem;
        }
    }
    

    .container {
        display: flex;
        flex-direction: column;
    

    .product-section-title {
        padding-bottom: 3rem;
    }

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        .box {
        margin: 1rem;
        padding: 2rem;
        box-shadow: 0 2px 6px rgba(63, 129, 204, 0.3);
     
        
        h5 {
            font-size: 1.4rem;
            margin-top: 5px;
        }
        }
    }
    }
}

#testimonial-section {
    padding: 0 0 4rem 0;

    .testimonial-section-title {
        padding-bottom: 3rem;
    }

    .text-box {
        // background: rgb(248, 249, 250);
        padding: 1rem;
        margin-bottom: 1rem;
    }

    .img img {
        border-radius: 50%;
        border: 1px solid rgba(0,0,0,.1);
        margin-right: 1rem; 
    }
}

#faq-section {
    padding: 6rem 0 4rem 0;

    .faq-section-title {
        padding-bottom: 3rem;
    }

    .box {
        border: 1px solid rgba(0,0,0,.1);
        margin-top: .5rem; 
        padding: 1rem .5rem 0 .5rem;

    }

    .img img {
        max-height: 400px;
    }
}

#newsletter-section {
    .newsletter-bg {
        padding: 5rem 0;
        background: url('../img/photo3.jpg');
        height: 420px;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
        background-position: center;
    

        h3 {
            font-size: 2rem;
            text-align: center;
        }

        input {
            margin-bottom: 1rem;
            border-radius: 10rem;
            height: 3rem;

            &[type="email"] {
                text-indent: 1rem;
            }
        }
    }

    @media (max-width: 640px) {
        .newsletter-bg {
            background: url('../img/photo3.1.jpg');
            background-size: contain;
            width: 100%;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: center;
            overflow: hidden;
        }
    }
}

#contact-section {
    padding: 6rem 0 4rem 0;

    p {
        padding: 12px;
    }

    .contact-section-title {
        padding-bottom: 1rem;
    }

    .alert{
        text-align:center;
        color: white;
        margin-top:10px;
        width: 100%;
        background-color: rgb(0, 113, 128);
        display: none;
    }

    .alertTest{
        text-align:left;
        padding: 12px;
        color: white;
        margin-top:10px;
        margin-bottom: 10px;
        width: 100%;
        background-color: rgb(0, 113, 128);
        display: none;
    }


    .call {
        .text-muted {
            font-size: .9rem;
        }
    }

    .fab {
        // border: 1.5px solid #007BFF;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        
        
        &:hover {
            background: #007BFF;
            color: #fff !important;
        }
    }
    
}